*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
   
  
     
      
}



.ecran {
    height: 100%;
    width:100%;
    border: solid;
    display: flex;
    background: white;
   
}

.gauche {
    background: rgb(0, 0, 0);
    
    border: solid;
    height: 100%;
    width: 100%;
    transform: rotate(25deg);
   
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%; 
    
}

.droite{
    background: rgb(0, 0, 0);
    border: solid;
    height: 100%;
    width: 100%;
    transform: rotate(0deg);
   
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%; 
    
}

.haut{
    background: rgb(0, 0, 0);
    border: solid;
    height: 100%;
    width: 100%;
    transform: rotate(0deg);
    
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%; 

}

footer {
   
}




/* .element {
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    width: 200px;
    height: 100px;
    background-color: red;
  } */


  /* .element {
    width: 200px;
    height: 100px;
    background-color: blue;
    transform: skew(0, -20deg);
  } */

  
  /* .element {
  width: 200px;
  height: 100px;
  background-color: green;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
} */

  